<?php
return [
    'api.api_key'           => '',  // Your Crypto2Billomat Api key defined in server/config/config.php
    'api.base_uri'          => '',  // Your Crypto2Billomat Server URL https://api.lorem-ipsum.de/
    'cryptogate.base_uri'   => ''   // Your CryptoPanel / CryptoGate Merchant Url for example https://loremipsum.cryptopanel.de/
];